.com-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.com-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.com-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 15px;
}

.com-window a {
  padding: 10px;
  width: 250px;
  height: 40px;
  border-radius: 10px;
  background-color: #dddddd;
  transition: 0.2s;
}

.com-window a p {
  line-height: 20px;
  transition: 0.2s;
  font-weight: bold;
}

.com-window a:hover {
  background-color: #711e9a;
}

.com-window a:hover p {
  color: white;
}
