.friends-search {
  background-color: rgb(239, 239, 239);
  border: 1px solid rgb(239, 239, 239);
  border-radius: 18px;
  height: 36px;
  margin: 28px 30px 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.friends-search-input {
  padding: 0;
  border: none;
  background-color: rgb(239, 239, 239);
  width: 100%;
  font-size: 14px;
}

.friends-search:focus-within {
  background-color: #fff;
  border-color: rgb(63, 28, 177);
}

.friends-search:focus-within .friends-search-button {
  color: rgb(63, 28, 177);
}

.friends-search-input:focus {
  outline: none;
  background-color: #fff;
}

.friends-search-input::placeholder {
  color: #323232;
}

.friends-search-button {
  color: #323232;
}

.friends-tab-wrapper {
  margin: 0 30px;
}

.friends-tab-title {
  font-size: 20px;
  font-weight: bold;
  padding: 25.5px 0;
  border-bottom: 1px solid #969696;
}

.friends-tab-body {
  margin: 20px 0 0;
}

.friends-crew-wrapper {
  display: flex;
  gap: 20px;
}

.friends-crew {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.friends-crew-img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  object-fit: cover;
  object-position: center;
}

.friends-crew-name {
  margin-top: 10px;
}

.friends-followings-wrapper {
  display: flex;
  gap: 20px;
}

.friends-followings {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.friends-followings-img {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  object-fit: cover;
  object-position: center;
}

.friends-followings-name {
  margin-top: 10px;
}
