.header {
  display: flex;
  justify-content: space-between;
  padding: 17.5px 20px 15px;
  background-color: #ffffff;
  border-bottom: 1px solid #d4d4d4;
}

.header-pagename {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-logo {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.header-goback {
  font-size: 18px;
  color: #711e9a;
  cursor: pointer;
}

.header-title {
  font-size: 18px;
  font-weight: bold;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.header-menu__link {
  font-size: 18px;
  color: #711e9a;
}
