.c-header {
  padding: 17.5px 0 15px 0;
  background-color: #ffffff;
  border-bottom: 1px solid #d4d4d4;
  display: flex;
  justify-content: space-between;
}

.c-header__logo-wrapper {
  margin-left: 20px;
}

.c-header__logo {
  width: 100px;
}

.c-header-menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-right: 20px;
}

.c-header-menu__link {
  font-size: 18px;
  color: #711e9a;
}
