.c-home__song {
  background-color: #fdf5f7;
  border-radius: 10px;
  margin: 10px 0;
  padding: 15px;
  position: relative;
}

.c-home__song-title {
  font-size: 14px;
  margin-bottom: 8px;
}

.c-home__song-artist {
  font-size: 12px;
  color: gray;
}

.c-home__song-host {
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.c-home__song-crown {
  color: gray;
  font-size: 10px;
}
