.c-loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #711e9a;
}

.c-loading__title {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50vh;
  left: 50vw;
  width: 200px;
}
