.nav-padding {
  height: 50px;
}

.nav-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.nav {
  max-width: 600px;
  margin: 0 auto;
  padding: 9px 0;
  background-color: #ffffff;
  border-top: 1px solid #d4d4d4;
  display: flex;
  justify-content: space-around;
}

.nav-link {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav-link-icon {
  font-size: 18px;
  color: #711e9a;
  margin-bottom: 3px;
}

.nav-link-detail {
  font-size: 10px;
  color: #711e9a;
}
