.playbar__padding {
  height: 50px;
}

.playbar__wrapper {
  position: fixed;
  bottom: 50px;
  left: 0;
  width: 100%;
}

.playbar {
  max-width: 600px;
  height: 50px;
  margin: 0 auto;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.95);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
