.search-bar {
  background-color: rgb(239, 239, 239);
  border: 1px solid rgb(239, 239, 239);
  border-radius: 18px;
  height: 36px;
  margin: 28px 30px 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.search-bar__input {
  padding: 0;
  border: none;
  background-color: rgb(239, 239, 239);
  width: 100%;
  font-size: 14px;
}

.search-bar:focus-within {
  background-color: #fff;
  border-color: rgb(63, 28, 177);
}

.search-bar:focus-within .search-bar__button {
  color: rgb(63, 28, 177);
}

.search-bar__input:focus {
  outline: none;
  background-color: #fff;
}

.search-bar__input::placeholder {
  color: #323232;
}

.search-bar__button {
  color: #323232;
}
