.song-card-img {
  width: 100%;
  /* object-fit: cover;
  object-position: center; */
}

.song-control {
  margin: 30px 30px;
}

.song-songinfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.song-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.song-artist {
  font-size: 14px;
  color: gray;
}

.song-like {
  display: flex;
  gap: 5px;
}

.song-like-icon {
  color: #711e9a;
}

.song-progressbar {
  height: 3px;
  background-color: silver;
}

.song-time {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: gray;
  margin-top: 10px;
}

.song-button {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.song-button-center {
  display: flex;
  gap: 20px;
}

.song-description {
  background-color: #dddddd;
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
}

.song-description p:first-child {
  flex: 2;
  font-size: 16px;
  font-weight: bold;
}

.song-description p:last-child {
  flex: 5;
  font-size: 12px;
  color: gray;
  line-height: 20px;
}
