.studio-playbar {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 20px;
}

.studio-playbar-bgimg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.studio-playbar-bgimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.studio-playbar-songinfo {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.studio-playbar-title {
  font-size: 14px;
  margin-bottom: 15px;
}

.studio-playbar-artist {
  font-size: 12px;
  color: #cccccc;
}

.studio-playbar-control {
  color: white;
}

.studio-playbar-play,
.studio-playbar-pause {
  cursor: pointer;
}

.studio-team {
  padding: 20px;
}

.studio-team-menu {
  display: flex;
  gap: 10px;
  font-size: 12px;
}

.studio-synth-button-padding {
  height: 50px;
}

.studio-synth-button-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.studio-synth-button {
  max-width: 600px;
  height: 50px;
  margin: 0 auto;
  background-color: #711e9a;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 50px;
  cursor: pointer;
}

.ssb-disabled {
  background-color: #c294da;
  cursor: default;
}
