.testshow-post {
  max-width: 480px;
  max-height: 480px;
  position: relative;
  padding: 10px;
  border-radius: 20px;
  overflow: hidden;
  margin: 5% auto 10%;
  background-color: transparent;
  box-sizing: border-box;
}

.testshow-post__bgimg {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.hpb-wide {
  height: 100%;
  /* 이미지가 가로로 길 때 */
}

.hpb-tall {
  width: 100%;
  /* 이미지가 세로로 길 때 */
}

.testshow-post__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(256, 256, 256, 0.95);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}

.testshow-post__header-albumimg {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.testshow-post__header-title {
  font-size: 14px;
  margin-bottom: 5px;
}

.testshow-post__header-artist {
  font-size: 12px;
}

.testshow-post__header-playbtn {
  width: 40px;
  height: 40px;
}

.testshow-post__body {
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(256, 256, 256, 0.95);
}

.testshow-post__body-profileimg {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.testshow-post__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(256, 256, 256, 0.95);
  padding: 10px;
  margin-top: 10px;
  border-radius: 15px;
}
